<html>
	<head>
		<% include ../headers/default_header %>
	</head>
	<body>
		<B>Name : </B><%= user.name %>
		<br>
		<B>ID : </B><%= user.id %>
		<br>
		<a href='/template/user'>
			<button class='btn btn-sm btn-primary' type='button'>
				toUser
			</button>
		</a>
		<a href='/'>
			<button class='btn btn-sm btn-primary' type='button'>
				toMain
			</button>
		<a>
	</body>
</html>