<html>
	<head>
		<% include ../headers/default_header %>
	</head>
	<body>
		<h3>
			DB Main
		</h3>
		<table class='table'>
			<tr>
				<td>
					Person
				</td>
				<td>
					<a href='/template/db/person' method='GET'>
						<button class='btn btn-sm btn-primary'>
							toPerson
						</button>
					</a>
				</td>
			</tr>
		</table>
	</body>
</html>